<h3>{{ competition?.name }}</h3>
<div class="container">
  <br>
  <img src="{{urlFotos}}{{competition?.banner}}" style="width:60%; height: 15em; display: block; margin-left: auto; margin-right: auto;">
  <br>
  <div class="reglist">
    <table class="table table-striped">
      <tbody>
        <tr>
          <th>URL</th>
          <td>{{ competition?.address | url }}/{{ competition?.id }}</td>
        </tr>
        <tr>
          <th>Inicio</th>
          <td>{{ competition?.init | date: 'dd/MM/yyyy'}}</td>
        </tr>
        <tr>
          <th>Fin</th>
          <td>{{ competition?.end | date: 'dd/MM/yyyy'}}</td>
        </tr>
        <tr>
          <th>Premio</th>
          <td>{{ competition?.prize }}</td>
        </tr>
      </tbody>
    </table>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Nombre del concursante</th>
          <td mat-cell *matCellDef="let element"> {{element.name}} {{element.lastName}}
          </td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let element; let i = index"> {{element.email}}
          </td>
        </ng-container>

        <ng-container matColumnDef="created">
          <th mat-header-cell *matHeaderCellDef> Fecha creacion </th>
          <td mat-cell *matCellDef="let element; let i = index"> {{element.created | date: 'dd/MM/yyyy'}}
          </td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef> Descripcion </th>
          <td mat-cell *matCellDef="let element; let i = index"> {{element.description}}
          </td>
        </ng-container>

        <ng-container matColumnDef="stateVideo">
          <th mat-header-cell *matHeaderCellDef> Estado Video </th>
          <td mat-cell *matCellDef="let element; let i = index"> {{element.stateVideo}}
          </td>
        </ng-container>

        <ng-container matColumnDef="pathConvertido">
          <th mat-header-cell *matHeaderCellDef> Video </th>
          <td mat-cell *matCellDef="let element; let i = index">
            <div *ngIf="element.stateVideo=='Generado'" class="container-video center">
              <vg-player>
                <video [vgMedia]="media" #media id="singleVideo" preload="auto" controls>
                  <source src="{{urlVideos}}{{element.pathConvertido}}" type="video/mp4">
                </video>
              </vg-player>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="path">
          <th mat-header-cell *matHeaderCellDef> Estado </th>
          <td mat-cell *matCellDef="let element; let i = index"> <a *ngIf="element.stateVideo=='Generado'" class="btn btn-primary"
              href="{{urlReal}}{{element.path}}">Original</a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>