<h3>{{ competition?.name }}</h3>
<div class=”container”>
  <div class="reglist">
    <table class="table table-striped">
      <tbody>
        <tr>
          <th>Banner</th>
          <td>{{ competition?.banner }}</td>
        </tr>
        <tr>
          <th>URL</th>
          <td>{{ competition?.address | url }}/{{ competition?.id }}</td>
        </tr>
        <tr>
          <th>Inicio</th>
          <td>{{ competition?.init | date: 'dd/MM/yyyy'}}</td>
        </tr>
        <tr>
          <th>Fin</th>
          <td>{{ competition?.end | date: 'dd/MM/yyyy'}}</td>
        </tr>
        <tr>
          <th>Premio</th>
          <td>{{ competition?.prize }}</td>
        </tr>
      </tbody>
    </table>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Nombre del concursante</th>
          <th>Email</th>
          <th>Fecha creacion</th>
          <th colspan="2">Descripcion</th>
          <th>Estado</th>
          <th>Video</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf='videos.length == 0'>
          <td colspan="8">No hay registros aún!</td>
        </tr>
        <tr *ngFor="let video of videos; let i = index">
          <th scope="row"> {{video.id_video}}
          </th>
          <td>
            {{video.name}} {{video.lastName}}
          </td>
          <td>
            {{video.email}}
          </td>
          <td>
            {{video.created | date: 'dd/MM/yyyy'}}
          </td>
          <td colspan="2">
            {{video.description}}
          </td>
          <td>
            {{ video.stateVideo }}
          </td>
          <td>
            <div class="container-video center">
              <vg-player>
                <video [vgMedia]="media" #media id="singleVideo" preload="auto" controls>
                  <source src="{{urlVideos}}{{video.pathConvertido}}" type="video/mp4">
                </video>
              </vg-player>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>