<h2>Acceder al sistema</h2>
<div class="alert alert-warning alert-dismissible fade show" role="alert" *ngIf="message  !== undefined">
    <strong>{{ message.summary }}</strong> {{ message.detail }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form [formGroup]="userform" (ngSubmit)="onSubmit(userform.value)">
    <div class="form-group">
        <label for="exampleInputEmail1">Correo electrónico *:</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Escribe tu correo" formControlName="name">
        <div *ngIf="!userform.controls['name'].valid&&userform.controls['name'].dirty">
            <small class="form-text text-muted" *ngIf="userform.controls['name'].errors['required']">Por favor escribe el correo electrónico del usuario. </small>
            <small class="form-text text-muted" *ngIf="userform.controls['name'].errors['email']">El correo electrónico del usuario debe cumplir con el formato ej. name@domain.com. </small>
        </div>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Contraseña *:</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña" formControlName="password">
        <div *ngIf="!userform.controls['password'].valid&&userform.controls['password'].dirty">
            <small *ngIf="userform.controls['password'].errors['required']">Por favor escribela contraseña. </small>
            <small *ngIf="userform.controls['password'].errors['minlength']">La contraseña debe contener más de 6 cáracteres. </small>
        </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!userform.valid || submitted">Acceder</button>
</form>