<h3>Concurso: {{ url }} - Listado de videos</h3>
<div class=”container”>
  <div class="reglist">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>Descripcion</th>
          <th>path</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf='videos.length == 0'>
          <td colspan="8">No hay registros aún!</td>
        </tr>
        <tr *ngFor="let video of videos; let i = index">
          <th scope="row"> {{video.id_video}}
          </th>
          <td>
            {{video.name}}
          </td>
          <td>
            {{video.description}}
          </td>
          <td>
            {{video.path}}
          </td>
        </tr>
      </tbody>
    </table>
    <div class="text-right">
      <button type="submit" class="btn btn-primary" (click)="onNew()">
        Nuevo
      </button>
    </div>

    <vg-player>
      <video [vgMedia]="media" #media id="singleVideo" preload="auto" controls>
        <source src="http://192.168.1.67/cfsm/upload_bb0ac41f4e2a609e1b7832f1a1f759b2.mp4" type="video/mp4">
      </video>
    </vg-player>


    <app-upload [hidden]="!showForm"></app-upload>