<div class=”container”>
  <div class="reglist">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>Categoría</th>
          <th>Lugar</th>
          <th>Dirección</th>
          <th>Fecha inicio</th>
          <th>Fecha fin</th>
          <th>Modelo</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let event of events; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ event.name }}</td>
          <td>{{ event.category }}</td>
          <td>{{ event.place }}</td>
          <td>{{ event.address }}</td>
          <td>{{ event.init | amTz:'America/Bogota' }}</td>
          <td>{{ event.end | amTz:'America/Bogota' }}</td>
          <td>{{ event.stage }}</td>
          <td>
            <button type="button" class="btn btn-info" (click)="onEdit(event.id)">Editar</button>
          </td>
          <td>
            <button type="button" class="btn btn-danger" (click)="onDelete(event.id)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="text-right">
      <button type="submit" class="btn btn-primary" (click)="onNew()">
        Nuevo
      </button>
    </div>
    <div class="regentry" *ngIf="showNew">
      <!-- form --> Form
    </div>
  </div>
  <br>
</div>