<div class=”container”>
  <div class="reglist">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>Categoría</th>
          <th>Lugar</th>
          <th>Dirección</th>
          <th>Fecha inicio</th>
          <th>Fecha fin</th>
          <th>Modelo</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let event of events; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ event.name }}</td>
          <td>{{ event.category }}</td>
          <td>{{ event.place }}</td>
          <td>{{ event.address }}</td>
          <td>{{ event.init | amTz:'America/Bogota' }}</td>
          <td>{{ event.end | amTz:'America/Bogota' }}</td>
          <td>{{ event.stage }}</td>
          <td>
            <button type="button" class="btn btn-info" (click)="onEdit(i)">Editar</button>
          </td>
          <td>
            <button type="button" class="btn btn-danger" (click)="onDelete(event.id)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="text-right">
      <button type="submit" class="btn btn-primary" (click)="onNew()">
        Nuevo
      </button>
    </div>
    <div class="regentry" *ngIf="showNew">
      <hr />
      <form (ngSubmit)="onSave()" #f="ngForm">

        <div class="form-group row">
          <label for="name-input" class="col-2 col-form-label">Nombre</label>
          <div class="col-10">
            <input class="form-control" type="text" [(ngModel)]="eventModel.name" name="name" required minlength="2" />
          </div>
        </div>
        
        <div class="form-group row">
          <label for="category-input" class="col-2 col-form-label">Categoria</label>
          <div class="col-10 dropdown" ngbDropdown myDrop="ngbDropdown">
            <button type="button" class="btn btn-outline-primary" id="dropdownManual" name="category" ngbDropdownToggle>{{eventModel.category}}</button>
            <div ngbDropdownMenu aria-labelledby="dropdownManual">
              <button type="button" class="dropdown-item" *ngFor="let category of categories" (click)="onChangeCategory(category)">{{category}}</button>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="place-input" class="col-2 col-form-label">Lugar</label>
          <div class="col-10">
            <input class="form-control" type="text" [(ngModel)]="eventModel.place" name="place" required>
          </div>
        </div>

        <div class="form-group row">
          <label for="address-input" class="col-2 col-form-label">Dirección</label>
          <div class="col-10">
            <input class="form-control" type="text" [(ngModel)]="eventModel.address" name="address" required>
          </div>
        </div>

        <div class="form-group row">
          <label for="init-input" class="col-2 col-form-label">Fecha de inicio</label>
          <div class="col-4 input-group">
            <input type="text" class="form-control" placeholder="yyyy-mm-dd" name="init" [(ngModel)]="eventModel.init" ngbDatepicker #init="ngbDatepicker">
            <button class="input-group-addon" (click)="init.toggle()" type="button">
              <img src="assets/img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;" />
            </button>
          </div>
        </div>

        <div class="form-group row">
          <label for="end-input" class="col-2 col-form-label">Fecha de fin</label>
          <div class="col-4 input-group">
            <input type="text" class="form-control" placeholder="yyyy-mm-dd" name="end" [(ngModel)]="eventModel.end" ngbDatepicker #end="ngbDatepicker">
            <button class="input-group-addon" (click)="end.toggle()" type="button">
              <img src="assets/img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;" />
            </button>
          </div>
        </div>

        <div class="form-group row">
          <label for="stage-input" class="col-2 col-form-label">Modalidad</label>
          <div class="col-10 dropdown" ngbDropdown myDrop="ngbDropdown2">
            <button type="button" class="btn btn-outline-primary" id="dropdownManual" name="stage" ngbDropdownToggle>{{eventModel.stage}}</button>
            <div ngbDropdownMenu aria-labelledby="dropdownManual">
              <button type="button" class="dropdown-item" *ngFor="let modality of modalities" (click)="onChangeModality(modality)">{{modality}}</button>
            </div>
          </div>
        </div>

        <div class="form-group row">
            <div class="col-2 ">
              <button type="submit" class="btn btn-success" [disabled]="f.invalid">{{submitType}}</button> 
            </div>
            <div class="col-2 ">
              <button type="submit" class="btn btn-primary" (click)="onCancel()">Cancel</button>
            </div>
        </div>
        
        

      </form>
    </div>
  </div>
  <br>
</div>